html{
    text-align: center;
    
}

body{
    font-family: "lato";
    width: 75%;
    margin: auto;
}


a{
    color: black;
    text-decoration: none;
    border-width: 0px;
}

.header{
    height: 80px;
    padding-top: 50px;
    margin: auto;
}

#headerlogo{
    height: 80px;
    width: 80px;
    float: left;
    margin-right: 25px;
}

#headerlogo:hover{
    content: url(HomePage/logo_hover.png);
}

.nav{
    float: right;
    margin-right: 20px;
    display: flex;
}

.nav-item{
    font-weight: 300;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 10px;
    list-style-type: none;
    text-decoration: none;
    transition: 0.2s;
}

.nav-item:hover{
    background-color: #F7CA18;
}

.navitemword:hover{
    color: black;
    transition: 0.2s;
}

.name{
    text-align: left;
    position: absolute;
    margin-top: 12px;
    margin-left: 105px;
}

.click{
	position: absolute;
	width: 200px;
	margin-left: -770px;
	margin-top: 70px
	
}

.name h1{
    font-size: 24px;
    margin: 0px 0px;
    font-weight: 700;
}

.intro{
    display: inline-block;
    box-sizing: border-box;
    width: 40%;
    float: left;
    text-align: left;
/*    margin-left: 20px;*/
}

#chatbot{
	margin-top: 20px;
}

.role{
    margin-top: 20px;
    line-height: 2;
    font-weight: 300;
}

.role a{
/*    background-color: #F5D76E;*/
    font-weight: 400;
    text-decoration: underline;
    text-decoration-color: #F5D76E;
    text-underline-position: below;
}

.role a:hover{
    color: white;
    background-color: #F5D76E;
/*    text-decoration: none;*/

    transition: 0.2s;
}

#who{
    margin-top: 200px;
    margin-bottom: 0px;
    font-size: 50px;
    font-weight: 700;
}

#bg {
    box-sizing: border-box;
    float: right;
    width: 49%;  
}

.arrow {
    clear: both;
    text-align: center;
    margin: auto;
    color: #F7CA18
}

.bounce {
    -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.scrollmenu{
    clear: both;
    width: 80%;
    margin: 20px auto;
}

.menu-item h2{
    font-weight: 300;
    margin-bottom: 0px;
}

.menu-item h3{
    font-size: 14px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 70px;
}

.image{
    width: 100%;
    border-radius: 0px;
}

#hellobar-bar {
    font-family: "Open Sans", sans-serif;
    width: 75%;
    margin: 0;
    height: 30px;
    display: table;
    font-size: 17px;
    font-weight: 400;
    padding: .33em .5em;
    -webkit-font-smoothing: antialiased;
    color: dimgrey;
    position: fixed;
    background-color: #F5D76E;
    box-shadow: 0 1px 3px 2px rgba(0,0,0,0.15);
}
#hellobar-bar.regular {
    height: 30px;
    font-size: 14px;
    padding: .2em .5em;
}
.hb-content-wrapper {
    text-align: center;
    text-align: center;
    position: relative;
    display: table-cell;
    vertical-align: middle;
}
.hb-content-wrapper p {
    margin-top: 0;
    margin-bottom: 0;
}
.hb-text-wrapper {
    margin-right: .67em;
    display: inline-block;
    line-height: 1.3;
}
.hb-text-wrapper .hb-headline-text {
    font-size: 1em;
    display: inline-block;
    vertical-align: middle;
    width: 80%;
}
#hellobar-bar .hb-cta {
    display: inline-block;
    vertical-align: middle;
    margin: 5px 0;
    color: #F5D76E;
    background-color: #22af73;
    border-color: #22af73
}
.hb-cta-button {
    opacity: 1;
    color: #fff;
    display: block;
    cursor: pointer;
    line-height: 1.5;
    max-width: 22.5em;
    text-align: center;
    position: relative;
    border-radius: 3px;
    white-space: nowrap;
    margin: 1.75em auto 0;
    text-decoration: none;
    padding: 0;
    overflow: hidden;
}
.hb-cta-button .hb-text-holder {
    border-radius: inherit;
    padding: 5px 15px;
}
.hb-close-wrapper {
    display: table-cell;
    width: 1.6em;
}

.hb-close-wrapper .icon-close {
    font-size: 14px;
    top: 15px;
    right: 25px;
    width: 15px;
    height: 15px;
    opacity: .3;
    color: #000;
    cursor: pointer;
    position: absolute;
    text-align: center;
    line-height: 15px;
    z-index: 1000;
    text-decoration: none;
}

.lang{
	text-decoration-line: underline;
	text-decoration-color: #FFB800;
	

}

.lang:hover{
	color: #FFB800;
	transition: 0.2s;
}

