html{
    font-family: "lato"; 
}

body{
    margin: 10px 0px;
}

a{
    color: black;
    text-decoration: none;
}

.bold{
    font-weight: 400;
}

#title-pic{
    background-image: url(Images/title-pic.png);
    background-repeat: no-repeat;
    background-attachment: fixed;

    background-size: 100%;
    height: 600px;
    width: 100%;
    display:table;
    margin-top: 10px;
}


#title{
    width: 60%;
    min-width: 600px;
    margin: 0 auto;
    border-bottom: 1px solid #DEDDDD;
}

#title h1{
    margin-top: 70px;
    font-family: "lato";
    font-weight: 300;
    font-size: 60px;
    text-align: center; 
    letter-spacing: 3px;
}

#title h3{
    padding: 70px 50px 0px 50px;
    margin-top: -20px;
    text-align: center;
    font-weight: 300;
}

b{
    font-weight: 400;
}

#title h4{
    margin-top: 200px;
    font-weight: 400;
}

#title h6{
    font-weight: 300;
    margin: 10px auto;
    text-align: center;
}

.content{
    text-align: left;
    margin: 0 auto;
    padding: 0px;
    line-height: 1.6;
}

.content img{
    width: 100%;
}

.stagediv{
    width: 60%;
    min-width: 400px;
    margin: 0 auto;
    box-sizing: content-box;
    border-bottom: 1px solid #DEDDDD;
    padding: 50px 50px;   
}

.idea{
    margin-bottom: 50px;
    border-bottom: 1px dashed #DEDDDD;
}

.stagediv h2{
    margin-left: -50px;
    font-weight: 400;
}

.stagediv h3{
    font-weight: 400;
    margin-bottom: 0px;
}

.stagediv h4{
    font-weight: 400;
    margin-bottom: 0px;
}

.stagediv h6{
    font-weight: 400;
    max-width: 75%;
    margin: 10px auto 30px;
    text-align: center;
}

.grey{
    color: gray;
    margin-left: 50px;
    margin-top: 0px;
}

p, li{
    font-weight: 300;
    margin-top: 10px;
}

.stagediv a:hover {
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}

#emphasize{
    font-size: 24px;
    font-weight: 400; 
    color: darkred;
    font-style: italic;
}

.table-container{
    display: table;
    margin: 10px auto 30px auto;
}

.table-cell{
    box-sizing: border-box;
    display: table-cell;
    width: 50%;
    padding-right: 40px;
}

.fullwidth-container{
    display: table;
    width: 150%;
    margin: 30px auto;
}

.middle{
    vertical-align: middle;
}

.table-cell-BoT{
    box-sizing: border-box;
    display: table-cell;
    width: 10%;
    padding-right: 20px;
    vertical-align: middle;
}

#oppnum{
    font-family: "Playfair+Display+SC";
    font-size: 60px;
    color: darkblue;
}

/*
.menu-wrapper {
	position: relative;
	max-width: 500px;
	height: 100px; // hide the scroll bar
	margin: 1em auto;
	border: 1px solid black;
	overflow-x: hidden;
	overflow-y: hidden;
}

.menu{
	height: 120px; // hide the scroll bar
	background: #f3f3f3;
	box-sizing: border-box;
	
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
}
	
.item {
		display: inline-block;
		width: 100px;
		height: 100%;
		outline: 1px dotted gray;
		padding: 1em;
		box-sizing: border-box;
	}

.paddle {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 3em;
}
.left-paddle {
	left: 0;
}
.right-paddle {
	right: 0;
}
.hidden {
	display: none;
}
*/













